.company-info-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .slider-swiper-slide{
        background: transparent !important;
        border: unset;
        box-shadow: unset;
        flex-grow: 1;

        .customer-container{
            background: transparent !important;
            
            .customer-wrapper{
                padding: 0;
                .left-column-section{
                    width: 100% !important;
                }
            }
        }
    }

    .right-column-section,
    .slide-title,
    .swiper-slide-selectable,
    .main-panel-container{
        display: none;
    }
}