@labelColor: rgba(0, 0, 0, 0.7);
@sectionTitleFontSize: 12px;
@sectionTitlePadding: 0 3px;

.carrier-container {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .hidden {
    display: none;
  }

  .carrier-content {
    width: 100%;
    flex-grow: 1;
    background-color: inherit;
    position: relative;
    overflow: hidden;

    .insurance{
      cursor: default;
    }

    .insurance.no-carrier {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .insurance.expired {
      background-color: lightcoral;
    }

    .insurance.active {
      background-color: lightgreen;
    }

    .insurance.warning {
      background-color: yellow;
    }

    .carrier-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: auto;
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: inherit;

      .input-box-container.code {
        input {
          text-transform: uppercase;
          pointer-events: none;
        }

        label {
          pointer-events: none;
        }
      }

      .mochi-contextual-container {
        display: none;
      }

      .hsep {
        margin: 0 1px;
      }

      .vsep {
        margin: 1px 0;
      }

      .main-row-section {
        height: 33%;
      }

      .main-cell {
        background-color: inherit;
        padding: 5px 3px;
      }

      .separator {
        margin: 0 1px;
      }
      .cell-1 {
        width: 40%;
        height: initial;
        display: flex;

        .form-section {
          min-width: 75%;
          max-width: 75%;
          justify-content: space-around;

          .row-section.buttons {
            display: flex;
            justify-content: center;
            .mochi-button {
              width: unset;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .mochi-button-base {
                flex-grow: 1;
                display: inline-block;
                white-space: normal;
                font-size: 0.7rem;
                line-height: initial;
                text-align: center;
              }
            }
          }
          .input-box-container.name-box {
            width: unset;
            flex-grow: 1;
          }
        }

        .form-section-extra {
          width: 25%;
          margin-left: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .mochi-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .mochi-button-base {
              flex-grow: 1;
              display: inline-block;
              white-space: normal;
              font-size: 1rem;
              line-height: initial;
              text-align: center;
            }
          }

          .rating-box-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 5px;

            a {
              display: inline-block;
              color: #95a5a6;
              text-decoration: none;
              font-size: 1.5rem;
              transition: ease 0.1s;
            }
          }
          .rating-box-container:hover a {
            color: #f39c12;
            /* amarillo (seleccionado) */
          }

          .rating-box-container:hover a:hover ~ a {
            color: #95a5a6;
            /* gris (normal) */
          }
        }

        // .state,
        // .zip-code {
        //     min-width: initial;
        //     max-width: initial;
        //     width: 50%;
        // }

        .state2,
        .zip-code2 {
          min-width: 80px;
          max-width: 80px;
        }
      }

      .cell-2 {
        width: 35%;
        display: flex;
        flex-direction: column;

        .input-box-container.drop-down {
          max-width: 140px;
        }

        .hidden {
          display: none;
        }

        .carrier-contact-list-section {
          flex-grow: 1;
          position: relative;
          overflow: hidden;

          .carrier-contact-main-container {
            position: absolute;
            width: calc(200% + 10px);
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            justify-content: space-between;
            transition: left ease 0.3s;

            .carrier-contact-list-container {
              position: relative;
              width: calc(50% - 5px);

              .carrier-contact-list-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow-y: auto;

                .carrier-contact-list-item {
                  padding: 5px;
                  cursor: pointer;
                  transition: ease 0.3s;
                  font-size: 0.7rem;
                  font-weight: bold;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  overflow-x: hidden;
                  width: 100%;

                  > div:not(:last-child) {
                    margin-right: 10px;
                  }

                  .item-name,
                  .item-phone {
                    white-space: nowrap;
                  }

                  .item-email {
                    flex-grow: 1;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }

                .carrier-contact-list-item:hover {
                  background-color: rgba(0, 0, 0, 0.05);
                }

                .loader {
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.1);
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  span {
                    color: black;
                  }
                }
              }
            }

            .carrier-contact-search-container {
              position: relative;
              width: calc(50% - 5px);
            }
          }
        }

        .form-section {
          // flex-grow: 1;

          .carrier-contact-main-container {
            left: 0;
          }

          #carrier-contacts-list-search-btn {
            display: block;
          }

          #carrier-contacts-list-cancel-btn {
            display: none;
          }

          #carrier-contacts-list-send-btn {
            display: none;
          }
        }

        .form-section.searching {
          .carrier-contact-main-container {
            left: calc(-100% - 10px);
          }

          #carrier-contacts-list-search-btn {
            display: none;
          }

          #carrier-contacts-list-cancel-btn {
            display: block;
          }

          #carrier-contacts-list-send-btn {
            display: block;
          }
        }

        .row-section {
          flex-wrap: wrap;
        }

        .portal-section {
          position: relative;
          width: 100%;
          min-height: 10.625rem;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
          border: 1px solid rgba(0, 0, 0, 0.5);
          margin-top: 5px;
        }

        .in-between {
          flex-direction: row;

          .left-container {
            display: flex;
            flex-direction: row;
            min-width: calc(50% + 46px);
            max-width: calc(50% + 46px);
          }
        }

        .insurances-section {
          flex-grow: 1;
          position: relative;
          display: flex;

          .form-section-insurances-portal {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .portal-section {
              position: relative;
              width: 100%;
              min-height: unset !important;
              flex-grow: 1;
              margin-top: 5px;
              // border: 0 !important;
              // box-shadow: unset;

              .insurances-list-content{
                height: 100%;
                .insurances-list-wrapper {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  overflow-y: auto;
                  padding: 5px;
      
                  .insurances-list-item {
                    padding: 5px;
                    cursor: pointer;
                    transition: ease 0.3s;
                    font-size: 0.7rem;
                    font-weight: bold;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: flex;
                  }
      
                  .insurances-list-item:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                  }

                  .insurances-list-item>div{
                    margin-right: 5px;
                  }
                }
              }              
            }
          }

          
        }

        .notes-section {
          flex-grow: 1;
          position: relative;
          display: flex;

          .form-section-notes-portal {
            flex-grow: 1;

            .form-section {
              height: 100%;

              .portal-section {
                position: relative;
                width: 100%;
                height: 100%;
                margin-top: 5px;
                border: 0 !important;
                box-shadow: unset;
              }
            }
          }

          .notes-portal-section-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow-y: auto;

            .carrier-notes-list-item {
              padding: 5px;
              cursor: pointer;
              transition: ease 0.3s;
              font-size: 0.7rem;
              font-weight: bold;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            .carrier-notes-list-item:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
          }
        }
      }

      .main-row-section:last-child .cell-2 {
        .form-section {
          flex-grow: 1;
        }
      }

      .cell-3 {
        width: 25%;
        display: flex;

        .form-section {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .row-section {
            flex-wrap: wrap;

            .name-box {
              flex-grow: 1;
              width: 50%;
            }
            .phone-number {
              max-width: 7rem;
            }
          }
          .row-section.no-wraping {
            flex-wrap: nowrap;
          }
          .row-section.buttons {
            display: flex;
            justify-content: center;
            .mochi-button {
              width: unset;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .mochi-button-base {
                flex-grow: 1;
                display: inline-block;
                white-space: normal;
                font-size: 1rem;
                line-height: initial;
                text-align: center;
              }
            }
          }
        }
      }

      .cell-3.past-orders-section {
        .form-section {
          flex-direction: column;
          justify-content: flex-start;

          .past-orders-container {
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 1;
            overflow: hidden;

            .past-orders-wrapper {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;

              .past-order-list-item {
                padding: 5px;
                cursor: pointer;
                transition: ease 0.3s;
                font-size: 0.7rem;
                font-weight: bold;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow-x: hidden;
                width: 100%;
              }
              .past-order-list-item:hover{
                background-color: rgba(0, 0, 0, 0.05);
              }
            }
          }
        }
      }

      .cell-3.driver-information-section{
          .form-section{
            justify-content: space-between;

            .vsep{
                margin: 2px 0;
            }
          }

          #carrier-drivers-info-delete-btn.disabled{
            pointer-events: none;
            
            .mochi-button-base{
              color:rgba(0, 0, 0, 0.5);              
            }
          }
      }

      .cell-3.drivers-list-section{
          .carrier-drivers-list-container{
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 1;
              .carrier-drivers-list-wrapper{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow-y: auto;

                  .carrier-drivers-list-item{
                    padding: 5px;
                    cursor: pointer;
                    transition: ease 0.3s;
                    font-size: 0.7rem;
                    font-weight: bold;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    overflow-x: hidden;
                    width: 100%;
                  }
                  .carrier-drivers-list-item:hover{
                    background-color: rgba(0, 0, 0, 0.05);
                  }
                  .carrier-drivers-list-item>div{
                      margin-right: 5px;
                  }
              }
          }
      }
    }

    .modal-carrier-notes {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: none;

      .modal-carrier-notes-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-carrier-notes-content {
          width: 90%;
          max-width: 400px;
          min-height: 200px;
          background-color: white;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          padding: 10px;

          .row-textinput {
            flex-grow: 1;

            textarea {
              width: 100%;
              min-height: 200px;
              resize: vertical;
              border: 1px solid rgba(0, 0, 0, 0.05);
              padding: 5px;
              border-radius: 10px;
              max-height: 500px;
            }
          }

          .row-buttons {
            display: flex;
            justify-content: space-between;

            .mochi-button {
              .mochi-button-decorator {
                font-size: 1rem;
              }

              .mochi-button-base {
                flex-grow: 1;
                display: inline-block;
                white-space: normal;
                font-size: 0.8rem;
                line-height: initial;
              }
            }
          }
        }
      }
    }

    .modal-carrier-notes.showing {
      textarea {
        background-color: rgba(0, 0, 0, 0.1);
        // pointer-events: none;
      }

      #carrier-carrier-notes-save-btn {
        display: none;
      }

      #carrier-carrier-notes-print-btn {
        display: block;
      }
    }

    .modal-carrier-notes.adding {
      textarea {
        background-color: white;
        pointer-events: all;
      }

      #carrier-carrier-notes-print-btn {
        display: none;
      }

      #carrier-carrier-notes-save-btn {
        display: block;
      }
    }

    .mochi-contextual-popup-item.selected{
      background-color: 'rgba(0,0,0,0.1)';
    }

    .mochi-contextual-popup-item span.hl{
      color: red !important;
    }
  }
}
