.company-home-container{
  position: relative;
  width: 100%;
  height: 100%;

  .widgets-container{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    

    .widget{
      position: absolute;
      width: 400px;
      height: 200px;
      box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.7);
      border-radius: 10px;

      &.logo{
        background-color: #090A73;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          height: 180px;
          object-fit: contain;
        }
      }
    }
  }
}