<section class="admin-task-bar" id="admin-task-bar">    
    <div class="logo-container">       
    
        <div class="btn w-auto text-light" id="btn-app-panel">
            Company
            <!-- <i class="fas fa-window-maximize" title="App Panel"></i>            -->
        </div>        
    </div>
    
    <div class="search-container">
        <div class="mochi-input-decorator">
            <input type="search" id="txt-search-box" placeholder="just type">
        </div>
    </div>
    
    <div class="options-container">
        <label for="cbox-admin-search" class="btn w-auto text-light" id="btn-admin-search">
            <i class="fas fa-search mr-1" title="Search"></i>
            <input type="checkbox" id="cbox-admin-search">
            <!-- Home -->
        </label>        
    
        <div class="btn w-auto text-light" id="btn-admin-home">
            <i class="fas fa-home mr-1" title="Home"></i>
            <!-- Home -->
        </div>
        
        <div class="btn w-auto text-light" id="btn-admin-users" title="Users">
            <i class="fas fa-users mr-1"></i>
            <!-- Users -->
        </div>
        <div class="btn w-auto text-light" id="btn-admin-reports" title="Reports">
            <i class="fas fa-file-alt mr-1"></i>
            <!-- Reports -->
        </div>
        <div class="btn w-auto text-light" id="btn-admin-setup-company" title="Setup Company">
            <i class="fas fa-building mr-1"></i>
            <!-- Setup Company -->
        </div>        
        <div class="btn w-auto text-light" id="btn-admin-switch-app" title="Switch App">
            <i class="fas fa-exchange-alt mr-1"></i>
            <!-- Switch App -->
        </div>
    </div>
</section>