#panel-carrier-docs {
    .input-box-container {
        margin: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .input-fields-section {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            > .separator{
                margin: 2px 0;
            }
            .row-fields {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .input-box-container{
                    flex-grow: 1;
                }

                .input-box-container.medium-size {
                    max-width: 100px;
                }

                .input-box-container.fixed-size {
                    max-width: 270px;
                }

                > .separator {
                    margin: 0 1px;
                    width: 0;
                }
            }

            .row-fields:first-child {
                justify-content: flex-start;
            }
        }

        .buttons-section {
            width: 120px;
            margin-left: 5px;

            .mochi-button {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .mochi-button-base {
                    font-size: 0.9rem;
                    text-align: center;
                    flex-grow: 1;
                    white-space: normal;
                    line-height: 14px;
                    font-weight: normal;
                }
            }
        }
    }

    .row-content{
        display: flex;
        flex-direction: row;
        margin: 3px 0;        
        height: 200px;
        > .separator{
            margin: 0 3px;
        }
    }
    .row-content.growed{
        flex-grow: 1;
    }

    .form-section {
        margin: 0;
    }

    .portal-container{
        position: relative;
        margin: 5px 0;
        overflow: hidden;
        border-radius: 0;

        .carrier-docs-documents-wrapper{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;

            .carrier-docs-documents-item.selected{
                background-color: rgba(0,0,0,0.1) !important;
            }
           
            .carrier-docs-documents-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.8rem;
                font-weight: bold;
                border-bottom: 1px solid rgba(0,0,0,0.3);
                padding: 2px 5px;
                cursor: default;
                transition: ease 0.3s;

                .item-info{
                    display: flex;
                    cursor: inherit;
                    align-items: center;

                    .item-icon{
                        font-size: 1rem;
                    }

                    >div{
                        margin-right: 10px;
                        cursor: inherit;
                    }
                }

                .item-btn{
                    font-size: 1rem;
                    cursor: pointer;
                    transition: ease 0.3s;
                }
                .item-btn:hover{
                    color: rgba(0,0,0,0.5);
                    
                }
            }

            .carrier-docs-documents-item:hover{
                background-color: rgba(0,0,0,0.05);
            }
        }

        .preview-loader{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .img-wrapper{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow-y: auto;
            text-align: center;

            img{
                max-width: 100% !important;
            }
        }

    }

}