#panel-carrier-docs .input-box-container {
  margin: 0;
}
#panel-carrier-docs .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#panel-carrier-docs .header .input-fields-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#panel-carrier-docs .header .input-fields-section > .separator {
  margin: 2px 0;
}
#panel-carrier-docs .header .input-fields-section .row-fields {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container {
  flex-grow: 1;
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container.hidden {
  display: none;
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container.input-tag {
  align-items: center;
  padding: 0 5px;
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container.input-tag input {
  width: unset;
  flex-grow: 1;
  padding: 0;
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container.input-tag span.btn-delete-inputted-tag {
  margin-right: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container.input-tag span.btn-delete-inputted-tag:hover {
  color: rgba(0, 0, 0, 0.7);
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container.medium-size {
  max-width: 100px;
}
#panel-carrier-docs .header .input-fields-section .row-fields .input-box-container.fixed-size {
  max-width: 270px;
}
#panel-carrier-docs .header .input-fields-section .row-fields > .separator {
  margin: 0 1px;
  width: 0;
}
#panel-carrier-docs .header .input-fields-section .row-fields .inputted-tag {
  position: relative;
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 1px 5px;
  border-radius: 10px;
  margin-right: 3px;
  cursor: default;
}
#panel-carrier-docs .header .input-fields-section .row-fields .inputted-tag span {
  font-size: 0.6rem;
  cursor: default;
}
#panel-carrier-docs .header .input-fields-section .row-fields .inputted-tag span.btn-delete-inputted-tag-address {
  margin-right: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}
#panel-carrier-docs .header .input-fields-section .row-fields .inputted-tag span.btn-delete-inputted-tag-address:hover {
  color: rgba(0, 0, 0, 0.7);
}
#panel-carrier-docs .header .input-fields-section .row-fields .inputted-tag.editing {
  background-color: white;
}
#panel-carrier-docs .header .input-fields-section .row-fields .inputted-tag.editing span.btn-delete-inputted-tag-address {
  display: none;
}
#panel-carrier-docs .header .input-fields-section .row-fields .inputted-tag.editing span.inputted-tag-address {
  background-color: lightyellow;
  min-width: 20px;
  max-width: 100%;
}
#panel-carrier-docs .header .input-fields-section .row-fields:first-child {
  justify-content: flex-start;
}
#panel-carrier-docs .header .buttons-section {
  width: 120px;
  margin-left: 5px;
}
#panel-carrier-docs .header .buttons-section .mochi-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#panel-carrier-docs .header .buttons-section .mochi-button .mochi-button-base {
  font-size: 0.9rem;
  text-align: center;
  flex-grow: 1;
  white-space: normal;
  line-height: 14px;
  font-weight: normal;
}
#panel-carrier-docs .header .buttons-section .mochi-button.disabled {
  pointer-events: none !important;
}
#panel-carrier-docs .header .buttons-section .mochi-button.disabled .mochi-button-base {
  color: rgba(0, 0, 0, 0.5);
}
#panel-carrier-docs .row-content {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
  height: 200px;
}
#panel-carrier-docs .row-content > .separator {
  margin: 0 3px;
}
#panel-carrier-docs .row-content.growed {
  flex-grow: 1;
}
#panel-carrier-docs .form-section {
  margin: 0;
}
#panel-carrier-docs .portal-container {
  position: relative;
  margin: 5px 0;
  overflow: hidden;
  border-radius: 0;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item.selected {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2px 5px;
  cursor: default;
  transition: ease 0.3s;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item .item-info {
  display: flex;
  cursor: inherit;
  align-items: center;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item .item-info .item-icon {
  font-size: 1rem;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item .item-info > div {
  margin-right: 10px;
  cursor: inherit;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item .item-btn {
  font-size: 1rem;
  cursor: pointer;
  transition: ease 0.3s;
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item .item-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}
#panel-carrier-docs .portal-container .carrier-docs-documents-wrapper .carrier-docs-documents-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#panel-carrier-docs .portal-container .carrier-docs-notes-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#panel-carrier-docs .portal-container .carrier-docs-notes-wrapper .carrier-docs-notes-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4.4px 5px;
  cursor: default;
  transition: ease 0.3s;
}
#panel-carrier-docs .portal-container .carrier-docs-notes-wrapper .carrier-docs-notes-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#panel-carrier-docs .portal-container .preview-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#panel-carrier-docs .portal-container .img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  text-align: center;
}
#panel-carrier-docs .portal-container .img-wrapper img {
  max-width: 100% !important;
}
#panel-carrier-docs .modal-customer-document-notes {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}
#panel-carrier-docs .modal-customer-document-notes .modal-customer-document-notes-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#panel-carrier-docs .modal-customer-document-notes .modal-customer-document-notes-wrapper .modal-customer-document-notes-content {
  width: 90%;
  max-width: 400px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#panel-carrier-docs .modal-customer-document-notes .modal-customer-document-notes-wrapper .modal-customer-document-notes-content .row-textinput {
  flex-grow: 1;
}
#panel-carrier-docs .modal-customer-document-notes .modal-customer-document-notes-wrapper .modal-customer-document-notes-content .row-textinput textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 5px;
  border-radius: 10px;
  max-height: 500px;
}
#panel-carrier-docs .modal-customer-document-notes .modal-customer-document-notes-wrapper .modal-customer-document-notes-content .row-buttons {
  display: flex;
  justify-content: space-between;
}
#panel-carrier-docs .modal-customer-document-notes .modal-customer-document-notes-wrapper .modal-customer-document-notes-content .row-buttons .mochi-button .mochi-button-decorator {
  font-size: 1rem;
}
#panel-carrier-docs .modal-customer-document-notes .modal-customer-document-notes-wrapper .modal-customer-document-notes-content .row-buttons .mochi-button .mochi-button-base {
  flex-grow: 1;
  display: inline-block;
  white-space: normal;
  font-size: 0.8rem;
  line-height: initial;
}
#panel-carrier-docs .modal-customer-document-notes.showing textarea {
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
#panel-carrier-docs .modal-customer-document-notes.showing #customer-document-notes-save-btn {
  display: none;
}
#panel-carrier-docs .modal-customer-document-notes.adding textarea {
  background-color: white;
  pointer-events: all;
}
#panel-carrier-docs .modal-customer-document-notes.adding #customer-document-notes-save-btn {
  display: block;
}
