.login-main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  perspective: 1000px;
}
.login-main-container .main-logo-container {
  width: 380px;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 220px), -50%);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.8);
}
.login-main-container .main-logo-container img {
  width: 100%;
  height: 100%;
}
.login-main-container .login-main-container-wrapper {
  position: absolute;
  width: 380px;
  height: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-main-container .login-main-container-wrapper .login-form-container {
  position: relative;
  overflow: hidden;
  width: 380px;
  height: 430px;
  padding: 10px;
  border-radius: 20px;
  background-color: #090A73;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.login-main-container .login-main-container-wrapper .login-form-container .company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.login-main-container .login-main-container-wrapper .login-form-container .company-logo img {
  width: 100%;
  transform: scale(1.4);
}
.login-main-container .login-main-container-wrapper .login-form-container .company-name {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.login-main-container .login-main-container-wrapper .login-form-container .user-type-row {
  display: flex;
  margin: 10px 0;
}
.login-main-container .login-main-container-wrapper .login-form-container .user-type-row .user-type {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.login-main-container .login-main-container-wrapper .login-form-container .user-type-row .user-type input,
.login-main-container .login-main-container-wrapper .login-form-container .user-type-row .user-type label {
  cursor: pointer;
  color: #CBA660;
  font-weight: bold;
}
.login-main-container .login-main-container-wrapper .login-form-container .login-form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.login-main-container .login-main-container-wrapper .login-form-container .login-form input {
  text-align: center;
}
.login-main-container .login-main-container-wrapper .login-form-container .login-button-row {
  display: flex;
  justify-content: center;
}
.login-main-container .login-main-container-wrapper .login-form-container .login-button-row .mochi-button .mochi-button-decorator,
.login-main-container .login-main-container-wrapper .login-form-container .login-button-row .mochi-button .mochi-button-base {
  color: #CBA660;
}
.login-main-container .login-main-container-wrapper .login-form-container .login-button-row .mochi-button .mochi-button-base {
  font-weight: bold;
}
.login-main-container .login-main-container-wrapper .login-form-container .forgot-password-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  align-items: center;
}
.login-main-container .login-main-container-wrapper .login-form-container .forgot-password-row .login-message {
  color: darkred;
  font-weight: bold;
  font-size: 14px;
}
.login-main-container .login-main-container-wrapper .login-form-container .forgot-password-row a {
  font-size: 14px;
  text-decoration: underline;
  color: #CBA660;
  font-weight: bold;
}
.login-main-container .login-main-container-wrapper .login-form-container .forgot-password-row a:visited {
  color: #CBA660;
}
/*# sourceMappingURL=Login.css.map */