.header-title {
  display: flex;
}
.header-title > div {
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: underline;
  padding-bottom: 0.3rem;
}
.footer-title {
  display: flex;
  padding: 0.2rem 0rem;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}
.footer-title > div {
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: underline;
  padding-bottom: 0.3rem;
}
.order-container {
  display: flex;
}
.order-info {
  width: calc(100% / 6);
  text-align: center;
  padding: 0.2rem 0.7rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
