<section class="admin-main-container admin-main-slide-container" id="admin-main-container">
    <div class="home-container">
        <div class="apps">
            <div class="app-container">
                <!-- <div class="app-button" id="btn-admin-users">
                    <i class="fas fa-users"></i>
                    <div class="app-name">Users</div>
                </div>
                <div class="app-button" id="btn-admin-reports">
                    <i class="fas fa-file-alt"></i>
                    <div class="app-name">Reports</div>
                </div>
                <div class="app-button" id="btn-admin-setup-company">
                    <i class="fas fa-building"></i>
                    <div class="app-name">Setup Company</div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="swiper-wrapper">

    </div>
</section>
<div class="main-app-loader">
    <div class="spinner-container">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>