<div class="mochi-contextual-container" id="admin-users-mochi-contextual-container" data-ctrl-id="">
    <div class="mochi-contextual-popup">
        <div class="mochi-contextual-popup-content">
            <div class="mochi-contextual-popup-wrapper">

            </div>
        </div>
    </div>
</div>

<div class="swiper-slide" id="swiper-slide-admin-users">
    <div class="slide-title">Users</div>
    <div class="admin-users-container main-slide-container" id="admin-users-container">
        <div class="admin-users-content">
            <div class="admin-users-wrapper">
                
                <div class="tbl-admin-users">
                    <div class="thead">
                        <div class="trow">
                            <div class="tcol index">#</div>
                            <div class="tcol name">Name</div>
                            <div class="tcol email">E-mail</div>
                            <div class="tcol status">Status</div>
                            <div class="tcol action"></div>
                        </div>
                    </div>
                    <div class="tbody">
                        <div class="tbody-wrapper">
                            <!-- <div class="trow admin-user-id-1" id="trow-admin-user-id-1" data-admin-user-id="1">
                                <div class="tcol index">1</div>
                                <div class="tcol name" title="Name">User Name 1</div>
                                <div class="tcol email" title="E-mail">User E-mail 1</div>
                                <div class="tcol status" title="Active User">
                                    Active
                                    <div class="input-toggle-container">
                                        <input disabled type="checkbox" id="cbox-user-id-1" name="cbox-user-id-1" checked>
                                        <label for="cbox-user-id-1" title="Active">
                                            <div class="lbl-toggle-button">Active</div>
                                            <div class="input-toggle-button"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="tcol action">
                                    <i class="fas fa-eye btn-view-admin-user" title="View"></i>
                                    <i class="fas fa-trash-alt btn-delete-admin-user" title="Delete"></i>
                                </div>
                            </div>
                            <div class="trow admin-user-id-2" id="trow-admin-user-id-2" data-admin-user-id="2">
                                <div class="tcol index">2</div>
                                <div class="tcol name" title="Name">User Name 2</div>
                                <div class="tcol email" title="E-mail">User E-mail 2</div>
                                <div class="tcol status" title="Inactive User">
                                    Inactive
                                    <div class="input-toggle-container">
                                        <input disabled type="checkbox" id="cbox-user-id-2" name="cbox-user-id-2" >
                                        <label for="cbox-user-id-2" title="Inactive">
                                            <div class="lbl-toggle-button">Inactive</div>
                                            <div class="input-toggle-button"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="tcol action">
                                    <i class="fas fa-eye btn-view-admin-user" title="View"></i>
                                    <i class="fas fa-trash-alt btn-delete-admin-user" title="Delete"></i>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="tfoot">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="swiper-slide-selectable">
        <div class="swiper-slide-close-btn">Close</div>
    </div>

    <div id="admin-users-main-panel-container" class="main-panel-container">
        <div class="panel-container">
            <div class="gutter"></div>



        </div>
    </div>
</div>