<div class="mochi-contextual-container" id="admin-setup-company-mochi-contextual-container" data-ctrl-id="">
    <div class="mochi-contextual-popup">
        <div class="mochi-contextual-popup-content">
            <div class="mochi-contextual-popup-wrapper">

            </div>
        </div>
    </div>
</div>

<div class="swiper-slide" id="swiper-slide-admin-setup-company">
    <div class="slide-title">Setup Company</div>
    <div class="admin-setup-company-container main-slide-container" id="admin-setup-company-container">
        <div class="admin-setup-company-content">
            <div class="admin-setup-company-wrapper">

                <p>Setup Company</p>

            </div>
        </div>
    </div>
    <div class="swiper-slide-selectable">
        <div class="swiper-slide-close-btn">Close</div>
    </div>

    <div id="admin-setup-company-main-panel-container" class="main-panel-container">
        <div class="panel-container">
            <div class="gutter"></div>
        </div>
    </div>
</div>