.search-container {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.search-container .tbl-carriers-contact-search-results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 0.8rem;
  margin-top: 10px;
}
.search-container .tbl-carriers-contact-search-results .thead,
.search-container .tbl-carriers-contact-search-results .tbody {
  display: flex;
  flex-direction: column;
}
.search-container .tbl-carriers-contact-search-results .thead .trow,
.search-container .tbl-carriers-contact-search-results .tbody .trow {
  display: flex;
}
.search-container .tbl-carriers-contact-search-results .thead .trow .tcol,
.search-container .tbl-carriers-contact-search-results .tbody .trow .tcol {
  padding: 10px;
}
.search-container .tbl-carriers-contact-search-results .thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.search-container .tbl-carriers-contact-search-results .thead .tcol {
  font-weight: bold;
}
.search-container .tbl-carriers-contact-search-results .tbody {
  flex-grow: 1;
  position: relative;
}
.search-container .tbl-carriers-contact-search-results .tbody .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.search-container .tbl-carriers-contact-search-results .tbody .wrapper .trow {
  align-items: center;
  cursor: default;
}
.search-container .tbl-carriers-contact-search-results .tbody .wrapper .trow .tcol span {
  text-decoration: underline;
}
.search-container .tbl-carriers-contact-search-results .tbody .wrapper .trow:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.search-container .tbl-carriers-contact-search-results .tcol.hidden {
  display: none;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-first-name {
  max-width: 110px;
  min-width: 110px;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-last-name {
  max-width: 110px;
  min-width: 110px;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-address1 {
  max-width: 170px;
  min-width: 170px;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-address2 {
  max-width: 170px;
  min-width: 170px;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-city {
  max-width: 120px;
  min-width: 120px;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-state {
  max-width: 60px;
  min-width: 60px;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-phone-work {
  max-width: 130px;
  min-width: 130px;
}
.search-container .tbl-carriers-contact-search-results .tcol.contact-email-work {
  max-width: 160px;
  min-width: 160px;
}
