<div class="panel stacked not-stacked" id="panel-admin-user-viewer" data-admin-user-id="">
    <div class="panel-content">
        <div class="panel-close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="mochi-header">
            <div class="mochi-header-content">PANEL TITLE</div>
        </div>

        <div class="user-viewer-wrapper">
            <div class="profile-info">
                <div class="row-section prof-row prof-avatar">
                    <img src="" alt="">
                </div>
                <div class="row-section prof-row prof-name">
                    <div class="input-box-container non-editable">
                        <input required type="text" id="txt-admin-user-name-USER ID"
                            name="txt-admin-user-name-USER ID" title="Name" value="USER NAME" data-temp-value="USER NAME">
                        <label for="txt-admin-user-name-USER ID">Name</label>
                    </div>
                </div>
                <div class="row-section prof-row prof-email">
                    <div class="input-box-container non-editable">
                        <input required type="text" id="txt-admin-user-email-USER ID"
                            name="txt-admin-user-email-USER ID" title="E-mail" value="USER EMAIL" data-temp-value="USER EMAIL">
                        <label for="txt-admin-user-email-USER ID">E-mail</label>
                    </div>
                </div>
                <div class="row-section prof-row prof-phone">
                    <div class="input-box-container non-editable">
                        <input required type="text" id="txt-admin-user-phone-USER ID"
                            name="txt-admin-user-phone-USER ID" title="Phone Number" value="USER PHONE" data-temp-value="USER PHONE">
                        <label for="txt-admin-user-phone-USER ID">Phone Number</label>
                    </div>
                </div>
                <div class="row-section prof-row prof-address">
                    <div class="input-box-container non-editable">
                        <input required type="text" id="txt-admin-user-address-USER ID"
                            name="txt-admin-user-address-USER ID" title="Address" value="USER ADDRESS" data-temp-value="USER ADDRESS">
                        <label for="txt-admin-user-address-USER ID">Address</label>
                    </div>
                    <div class="hsep"></div>
                    <div class="input-box-container non-editable">
                        <input required type="text" id="txt-admin-user-city-USER ID"
                            name="txt-admin-user-city-USER ID" title="City" value="USER CITY" data-temp-value="USER CITY">
                        <label for="txt-admin-user-city-USER ID">City</label>
                    </div>
                    <div class="hsep"></div>
                    <div class="input-box-container non-editable state">
                        <input required type="text" id="txt-admin-user-state-USER ID"
                            name="txt-admin-user-state-USER ID" title="State" maxlength="2"
                            style="text-transform: uppercase" value="USER STATE" data-temp-value="USER STATE">
                        <label for="txt-admin-user-state-USER ID">State</label>
                    </div>
                    <div class="hsep"></div>
                    <div class="input-box-container non-editable zip-code">
                        <input required type="text" id="txt-admin-user-zipcode-USER ID"
                            name="txt-admin-user-zipcode-USER ID" title="Postal Code" value="USER ZIP" data-temp-value="USER ZIP">
                        <label for="txt-admin-user-zipcode-USER ID">Postal Code</label>
                    </div>
                </div>
                <div class="row-section prof-row prof-status">
                    <div class="input-toggle-container">
                        <input disabled type="checkbox" id="cbox-status-user-id-USER ID"
                            name="cbox-status-user-id-USER ID" CHECKED data-temp-value="USER STATUS"/>
                        <label for="cbox-status-user-id-USER ID" title="Active">
                            <div class="lbl-toggle-button"></div>
                            <div class="input-toggle-button"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="profile-footer">
                <div class="mochi-button text-center btn-edit-admin-user-profile">
                    <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                    <div class="mochi-button-base">
                        Edit
                    </div>
                    <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                </div>
                <div class="mochi-button text-center btn-save-admin-user-profile hidden">
                    <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                    <div class="mochi-button-base">
                        Save
                    </div>
                    <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                </div>
                <div class="mochi-button text-center btn-cancel-admin-user-profile hidden">
                    <div class="mochi-button-decorator mochi-button-decorator-left">(</div>
                    <div class="mochi-button-base">
                        Cancel
                    </div>
                    <div class="mochi-button-decorator mochi-button-decorator-right">)</div>
                </div>
            </div>
        </div>

        <div class="drag-handler"> </div>
        <div class="panel-not-focused"> </div>
        <div class="panel-selection-handler"> </div>
    </div>
</div>